/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
#section-head {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 100%;
  background-image: url(../images/bunkr.jpg);
  background-size: cover;
}

/* line 14, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.head-img-background {
  background-position: 0px,250px;
  width: 100%;
  height: 600px;
  margin-top: -20px;
}

/* line 22, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.head-bouton-inscrire {
  font-size: 1em;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;
}

/* line 33, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.head-titre {
  margin-top: 15%;
  font-size: 50px;
  line-height: 60px;
  color: #efecca;
  letter-spacing: -2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* line 47, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.head-form {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px;
  border-radius: 8px;
}

/* line 54, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.bouton-essayer {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  background-color: #002f2f;
  border-color: #002f2f;
  font-size: 17px;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
}

/* line 73, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.bouton-essayer:hover {
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 47, 47, 0.7);
  border-color: rgba(0, 47, 47, 0.7);
}

/* line 81, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
.champ-email {
  font-size: 17px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 300px;
  width: 60%;
}

/* line 92, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
form#mc-embedded-subscribe-form div {
  display: inline-block;
}

/* line 97, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_head.scss */
form#mc-embedded-subscribe-form input#mce-EMAIL {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_valeur.scss */
#section-valeur {
  background-color: #a7a37e;
}

/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_comptable.scss */
#section-comptable {
  color: #efecca;
  background-color: #002f2f;
}

/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_valeur.scss */
#section-valeur {
  background-color: #a7a37e;
}

/* line 4, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_1 {
  background-color: #efecca;
}

/* line 12, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features1a_image {
  position: absolute;
}

/* line 18, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features1b_image {
  position: relative;
}

/* line 23, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_1_content {
  color: black;
  margin-top: 10%;
}

/* line 29, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_2 {
  background-color: #efecca;
}

/* line 34, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_2_content {
  color: black;
  margin-top: 10%;
}

/* line 40, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_3 {
  background-color: #efecca;
}

/* line 46, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_3_content {
  color: black;
  margin-top: 10%;
}

/* line 52, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_4 {
  background-color: #efecca;
}

/* line 56, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_scenario.scss */
#features_4_content {
  color: black;
  margin-top: 10%;
}

/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_pricing.scss */
#section-pricing {
  background-color: #002f2f;
  color: #efecca;
}

/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
footer {
  background-color: #efecca;
}

/* line 9, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
#newsletter {
  background-color: #a7a37e;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 16, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
.social-media-icon {
  display: block;
}

/* line 21, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
#footer-main ul {
  list-style: none;
}

/* line 26, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
.sm-icon {
  opacity: 0.6;
  padding: 0px;
  width: 50px;
  height: 50px;
}

/* line 34, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
.sm-icon:hover {
  opacity: 1;
  border-color: red;
}

/* line 40, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
.social-media-bubble {
  background: #b1b1b1;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: 30px 0 15px;
  font-weight: bold;
  width: 80%;
  font-size: 18px;
  text-align: center;
  color: #efecca;
}

/* line 54, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_footer.scss */
.smooth {
  color: #046380;
}

/* line 1, /Users/qhoang/Documents/ProjetsWeb/Kokot-Landing/css/scss/_navbar.scss */
.navbar-kokot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  background-color: yellow;
}

/* line 19, scss/main.scss */
.bouton-cte {
  padding-top: 10px;
}

/* line 25, scss/main.scss */
#CTE-apres-pricing {
  background-color: #a7a37e;
  padding-bottom: 10px;
}

/* line 31, scss/main.scss */
.border-btn-inscrire {
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  border-radius: 8px;
  width: 50%;
}

/* line 39, scss/main.scss */
.btn-inscrire {
  background-image: linear-gradient(to bottom, #335a33 0%, #429641 100%);
  padding: 16px 16px 16px 16px;
  font-size: 17px;
}
