/* line 1, scss/_head.scss */
#section-head {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 100%;
  background-image: url(../images/bunkr.jpg);
  background-size: cover;
  height: 600px;
}

/* line 18, scss/_head.scss */
.head-titre {
  margin-top: 20%;
  font-size: 50px;
  line-height: 60px;
  color: #efecca;
  letter-spacing: -2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  text-align: center;
}

/* line 36, scss/_head.scss */
.active {
  background-color: transparent;
}

/* line 42, scss/_head.scss */
.head-fond-transparent {
  height: 80px;
  font-size: 1em;
  width: 60%;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;
  position: relative;
}

/* line 55, scss/_head.scss */
.head-form-bas {
  height: 80px;
  font-size: 1em;
  width: 60%;
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;
  position: relative;
}

/* line 73, scss/_head.scss */
form#mc-embedded-subscribe-form .champ-email {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 300px;
  left: 15px;
}
/* line 81, scss/_head.scss */
form#mc-embedded-subscribe-form .champ-email label {
  display: block;
  height: 0px;
  width: 0px;
  margin: 0px;
}
/* line 89, scss/_head.scss */
form#mc-embedded-subscribe-form input#mce-EMAIL {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

/* line 104, scss/_head.scss */
.bouton-essayer {
  color: #fff;
  background-color: #002f2f;
  border-color: #002f2f;
  font-size: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 10px;
  height: 65%;
  width: 285px;
}

/* line 122, scss/_head.scss */
.bouton-essayer:hover {
  color: #fff;
  background-color: rgba(0, 47, 47, 0);
  border-color: rgba(0, 47, 47, 0);
}

@media screen and (max-width: 800px) {
  /* line 153, scss/_head.scss */
  .head-fond-transparent {
    height: 135px;
    font-size: 1em;
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
    position: relative;
  }

  /* line 165, scss/_head.scss */
  .bouton-essayer {
    position: static;
    display: block;
    color: #fff;
    background-color: #002f2f;
    border-color: #002f2f;
    font-size: 14px;
    top: 15px;
    right: 15px;
    bottom: 10px;
    height: 50px;
    width: 100%;
  }

  /* line 185, scss/_head.scss */
  .head-titre {
    margin-top: 35%;
    font-size: 35px;
    line-height: 45px;
    color: #efecca;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    text-align: center;
  }

  /* line 198, scss/_head.scss */
  form#mc-embedded-subscribe-form .champ-email {
    display: block;
    position: static;
    top: 15px;
    bottom: 15px;
    right: 300px;
    left: 15px;
    padding-top: 15px;
  }
  /* line 209, scss/_head.scss */
  form#mc-embedded-subscribe-form .champ-email label {
    display: block;
    height: 0px;
    width: 0px;
    margin: 0px;
  }
  /* line 217, scss/_head.scss */
  form#mc-embedded-subscribe-form input#mce-EMAIL {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
  }
}
/* line 1, scss/_valeur.scss */
#section-valeur {
  background-color: #a7a37e;
}

/* line 1, scss/_comptable.scss */
#section-comptable {
  color: #efecca;
  background-color: #002f2f;
  padding: 15px;
}

/* line 1, scss/_valeur.scss */
#section-valeur {
  background-color: #a7a37e;
}

/* line 4, scss/_scenario.scss */
#features_1 {
  background-color: #efecca;
  padding: 20px;
}

/* line 14, scss/_scenario.scss */
#features1a_image {
  position: absolute;
}

/* line 20, scss/_scenario.scss */
#features1b_image {
  position: relative;
}

/* line 25, scss/_scenario.scss */
#features_1_content {
  color: black;
  margin-top: 10%;
}

/* line 31, scss/_scenario.scss */
#features_2 {
  background-color: #efecca;
  padding: 20px;
}

/* line 38, scss/_scenario.scss */
#features_2_content {
  color: black;
  margin-top: 10%;
}

/* line 44, scss/_scenario.scss */
#features_3 {
  background-color: #efecca;
  padding: 20px;
}

/* line 52, scss/_scenario.scss */
#features_3_content {
  color: black;
  margin-top: 10%;
}

/* line 59, scss/_scenario.scss */
#features_4 {
  background-color: #efecca;
  padding: 20px;
}

/* line 65, scss/_scenario.scss */
#features_4_content {
  color: black;
  margin-top: 10%;
}

/* line 1, scss/_pricing.scss */
#section-pricing {
  background-color: #002f2f;
  color: #efecca;
  padding: 15px;
}

/* line 1, scss/_footer.scss */
footer {
  background-color: #efecca;
}

/* line 9, scss/_footer.scss */
#newsletter {
  background-color: #a7a37e;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 16, scss/_footer.scss */
.social-media-icon {
  display: block;
}

/* line 21, scss/_footer.scss */
#footer-main ul {
  list-style: none;
}

/* line 26, scss/_footer.scss */
.sm-icon {
  opacity: 0.6;
  padding: 0px;
  width: 50px;
  height: 50px;
}

/* line 34, scss/_footer.scss */
.sm-icon:hover {
  opacity: 1;
  border-color: red;
}

/* line 40, scss/_footer.scss */
.social-media-bubble {
  background: #b1b1b1;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: 30px 0 15px;
  font-weight: bold;
  width: 80%;
  font-size: 18px;
  text-align: center;
  color: #efecca;
}

/* line 54, scss/_footer.scss */
.smooth {
  color: #046380;
}

/* line 1, scss/_navbar.scss */
.navbar {
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  border-radius: 0px;
  color: #a7a37e;
  background-color: rgba(0, 47, 47, 0.5);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-style: solide;
  border-bottom-color: #efecca;
}

/* line 22, scss/_navbar.scss */
.navbar-default .navbar-brand {
  color: #efecca;
}

/* line 26, scss/_navbar.scss */
.navbar-element {
  color: #efecca;
  text-transform: uppercase;
}

/* line 32, scss/_navbar.scss */
.navbar-element > li > a:hover {
  background-color: red;
}

/* line 39, scss/_navbar.scss */
.navbar-default {
  background-image: none;
}

/* line 43, scss/_navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: #efecca;
  font-size: 18px;
}

/* line 1, scss/_fonctionnalites.scss */
#section-fonctionnalites {
  background-color: #efecca;
}

/* line 19, scss/main.scss */
.bouton-cte {
  padding-top: 10px;
}

/* line 25, scss/main.scss */
#CTE-apres-pricing {
  background-color: #a7a37e;
  padding: 15px;
}

/* line 31, scss/main.scss */
.border-btn-inscrire {
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  border-radius: 8px;
  width: 50%;
}

/* line 39, scss/main.scss */
.btn-inscrire {
  background-image: linear-gradient(to bottom, #335a33 0%, #429641 100%);
  padding: 16px 16px 16px 16px;
  font-size: 17px;
}
