footer{

	background-color:$couleur-beige-clair;



}

#newsletter {

	background-color:$couleur-beige-fonce;
	padding-top:10px;
	padding-bottom:10px;
}

.social-media-icon {
	display:block;
}


#footer-main ul {
	list-style:none;

}

.sm-icon {
	opacity:0.6;
	padding:0px;
	width:50px;
	height:50px;

}

.sm-icon:hover{
	opacity:1;
	border-color:red;

}

.social-media-bubble {

	background : #b1b1b1;
	padding-top:15px;
	padding-bottom:5px;
	border-radius:10px;
	margin: 30px 0 15px;
	font-weight: bold;
	width:80%;
	font-size:18px;
	text-align:center;
	color:$couleur-beige-clair;
}

.smooth{
	color:$couleur-vert-clair;
}

