footer{

	background-color:$couleur-beige-clair;

}

#newsletter {

	background-color:$couleur-beige-fonce;
	padding-top:10px;
	padding-bottom:10px;
}

.social-media-icon {
	display:block;
}


#footer-main ul {
	list-style:none;

}

.sm-icon {
	opacity:0.5;
	padding:0px;
	width:50px;
	height:50px;

}

.sm-icon:hover{
	opacity:1;
	border-color:red;

}

