footer{

	background-color:$couleur-beige-clair;

}

#newsletter {

	background-color:$couleur-beige-fonce;
	padding-top:10px;
	padding-bottom:10px;
}

.social-media-icon {
	display:block;
}


#footer-main ul {
	list-style:none;

}