.head-img-background{
	background-image:url(../images/head.jpg);
	background-size:cover;
	background-position:0px,250px;
  // -webkit-background-size: cover;
	width:100%;
	height:400px;
}

.head-bouton-inscrire {

	font-size:2em;

}

.head-titre{
	margin-top:25%;
	font-size:2em;
	color:$couleur-beige-clair;
}