.navbar{
	top:0;
	height:60px;
	left:0;
	right:0;
	position:fixed;
	z-index:3;
	border-radius:0px;

	color:$couleur-beige-fonce;

	background-color:rgba(0,47,47,0.5);
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom-style:solide;
	border-bottom-color:$couleur-beige-clair;

}

.navbar-default .navbar-brand {
color: $couleur-beige-clair;
}

.navbar-element{

	color:$couleur-beige-clair;
	text-transform:uppercase;
}

.navbar-element>li>a:hover {

	background-color:red;
}



.navbar-default {
	background-image: none;
}

.navbar-default .navbar-nav>li>a {

	color:$couleur-beige-clair;
	font-size:18px;

}

.navbar-collapse.in{
	background-color:$couleur-vert-fonce;
}




.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {

	color:$couleur-beige-fonce;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {

	color:$couleur-beige-clair;

}

//permet de rendre la couleur du 'dropdown' noir
.navbar-default .navbar-nav .open .dropdown-menu > li > a{


}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {

	color:$couleur-beige-fonce;
}

//permet de modifier les barres horizontale du bout menu quand on est en responsive

.navbar-default .navbar-toggle .icon-bar {

	background-color:$couleur-beige-clair;
}

//Permet de modifier le background color
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

	background-color:$couleur-vert-fonce;
}

//dropdown fond beige foncé
.dropdown-menu {
	background-color:$couleur-beige-fonce;

}