


#features_1{

		background-color:$couleur-beige-clair;
		padding:20px;




}

#features1a_image {

	position:absolute;
}


#features1b_image {

	position:relative;
}

#features_1_content {

	color:black;
	margin-top:10%;
}

#features_2 {
		background-color:$couleur-beige-clair;
		padding:20px;


}

#features_2_content {

	color:black;
	margin-top:10%;
}

#features_3 {
		background-color:$couleur-beige-clair;
		padding:20px;



}

#features_3_content {

	color:black;
	margin-top:10%;

}

#features_4 {
		background-color:$couleur-beige-clair;
		padding:20px;

}

#features_4_content {

	color:black;
	margin-top:10%;
}