$couleur-beige:#E6E2AF;
$couleur-beige-fonce:#A7A37E;
$couleur-beige-clair:#EFECCA;
$couleur-vert-clair:#046380;
$couleur-vert-fonce:#002F2F;

@import 'nav';

@import 'head';

@import 'valeur';
@import 'comptable';
@import 'valeur';
@import 'scenario';
@import 'pricing';
@import 'footer';
@import 'navbar';

.bouton-cte{

	padding-top:10px;
}


#CTE-apres-pricing{

	background-color:$couleur-beige-fonce;
	padding-bottom:10px;
}

.border-btn-inscrire {

	background-color: rgba(255,255,255,.25);
	padding: 15px;
	border-radius: 8px;
	width:50%;
}

.btn-inscrire {
	background-image: linear-gradient(to bottom,#335A33 0,#429641 100%);
	padding: 16px 16px 16px 16px;
	font-size:17px;

}

