#section-head {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 100%;
  background-image: url(../images/bunkr.jpg);
  background-size: cover;
  height: 600px; }

.head-titre {
  margin-top: 20%;
  font-size: 50px;
  line-height: 60px;
  color: #efecca;
  letter-spacing: -2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 35px; }

.active {
  background-color: transparent; }

.head-fond-transparent {
  height: 80px;
  font-size: 1em;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;
  position: relative; }

.head-form-bas {
  height: 80px;
  font-size: 1em;
  width: 60%;
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;
  position: relative; }

form#mc-embedded-subscribe-form .champ-email {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 300px;
  left: 15px; }
  form#mc-embedded-subscribe-form .champ-email label {
    display: block;
    height: 0px;
    width: 0px;
    margin: 0px; }
form#mc-embedded-subscribe-form input#mce-EMAIL {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%; }

.bouton-essayer {
  color: #fff;
  background-color: #002f2f;
  border-color: #002f2f;
  font-size: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 10px;
  height: 65%;
  width: 285px; }

.bouton-essayer:hover {
  color: #fff;
  background-color: rgba(0, 47, 47, 0.8);
  border-color: rgba(0, 47, 47, 0.7); }

@media screen and (max-width: 800px) {
  .head-fond-transparent {
    height: 135px;
    font-size: 1em;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
    position: relative; }

  .bouton-essayer {
    position: static;
    display: block;
    color: #fff;
    background-color: #002f2f;
    border-color: #002f2f;
    font-size: 14px;
    top: 15px;
    right: 15px;
    bottom: 10px;
    height: 50px;
    width: 100%; }

  .head-titre {
    margin-top: 35%;
    font-size: 35px;
    line-height: 45px;
    color: #efecca;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center; }

  form#mc-embedded-subscribe-form .champ-email {
    display: block;
    position: static;
    top: 15px;
    bottom: 15px;
    right: 300px;
    left: 15px;
    padding-top: 15px; }
    form#mc-embedded-subscribe-form .champ-email label {
      display: block;
      height: 0px;
      width: 0px;
      margin: 0px; }
  form#mc-embedded-subscribe-form input#mce-EMAIL {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%; } }
#section-valeur {
  background-color: #a7a37e; }

#section-comptable {
  color: #efecca;
  background-color: #002f2f;
  padding: 15px; }

#section-valeur {
  background-color: #a7a37e; }

#features_1 {
  background-color: #efecca;
  padding: 20px; }

#features1a_image {
  position: absolute; }

#features1b_image {
  position: relative; }

#features_1_content {
  color: black;
  margin-top: 10%; }

#features_2 {
  background-color: #efecca;
  padding: 20px; }

#features_2_content {
  color: black;
  margin-top: 10%; }

#features_3 {
  background-color: #efecca;
  padding: 20px; }

#features_3_content {
  color: black;
  margin-top: 10%; }

#features_4 {
  background-color: #efecca;
  padding: 20px; }

#features_4_content {
  color: black;
  margin-top: 10%; }

#section-pricing {
  background-color: #002f2f;
  color: #efecca;
  padding: 15px; }

footer {
  background-color: #efecca; }

#newsletter {
  background-color: #a7a37e;
  padding-top: 10px;
  padding-bottom: 10px; }

.social-media-icon {
  display: block; }

#footer-main ul {
  list-style: none; }

.sm-icon {
  opacity: 0.6;
  padding: 0px;
  width: 50px;
  height: 50px; }

.sm-icon:hover {
  opacity: 1;
  border-color: red; }

.social-media-bubble {
  background: #b1b1b1;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: 30px 0 15px;
  font-weight: bold;
  width: 80%;
  font-size: 18px;
  text-align: center;
  color: #efecca; }

.smooth {
  color: #046380; }

.navbar {
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  border-radius: 0px;
  color: #a7a37e;
  background-color: rgba(0, 47, 47, 0.5);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-style: solide;
  border-bottom-color: #efecca; }

.navbar-default .navbar-brand {
  color: #efecca; }

.navbar-element {
  color: #efecca;
  text-transform: uppercase; }

.navbar-element > li > a:hover {
  background-color: red; }

.navbar-default {
  background-image: none; }

.navbar-default .navbar-nav > li > a {
  color: #efecca;
  font-size: 18px; }

.navbar-collapse.in {
  background-color: #002f2f; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #a7a37e; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #efecca; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: black; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #efecca; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002f2f; }

.dropdown-menu {
  background-color: #a7a37e; }

#section-fonctionnalites {
  background-color: #efecca; }

.bouton-cte {
  padding-top: 10px; }

#CTE-apres-pricing {
  background-color: #a7a37e;
  padding: 15px; }

.border-btn-inscrire {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px;
  border-radius: 8px;
  width: 50%; }

.btn-inscrire {
  background-image: linear-gradient(to bottom, #335a33 0, #429641 100%);
  padding: 16px 16px 16px 16px;
  font-size: 17px; }
